@page
@model Laba6.Views.Home.IndexModel 
<!-- Views/Home/Index.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            background-color: lightyellow;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 24px;
            margin-bottom: 20px;
        }

        a {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Welcome to our Pizza Ordering System!</h1>
    <p>This is the home page of our application. You can navigate to other pages from here.</p>
    <a href="/PizzaOrder/Register">Order Pizza</a>
</body>
</html>
